<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form action="/action_page.php">
    <label for = "first_name"> First Name:</label><br>
    <input type = "text" id = "first_name"><br>
    <label for = "middle_name"> Middle Name:</label><br>
    <input type= "text" id= "middle_name"><br>
    <label for = "last_name"> Last Name:</label><br>
    <input type = "text" id = "last_name"><br>
    <label for = "passport_number"> Passport Number:</label><br>
    <input type = "text" id = "passport_number"><br>
    <label for = "address_line_one"> Address Line 1:</label><br>
    <input type ="text" id="address_line_one"><br>
    <label for = "address_line_two"> Address Line 2:</label><br>
    <input type ="text" id="address_line_two"><br>
    <label for = "state"> State Code:</label><br>
    <input type = "text" id="state"><br>
    <label for = "zipcode"> Zip Code:</label><br>
    <input type = "text" id="zipcode"><br>
    <label for = "email"> Email:</label><br>
    <input type = "text" id="email" name="email"><br>
    <label for = "password"> Password: </label><br>
    <input type = "text" id="password" name="password"><br>
    <input type = "submit" value="submit">
</form>
</body>
</html>